@model IEnumerable<StokTakip.Entities.Marka>

@{
    ViewData["Title"] = "Index";
}

<h1>Markalar</h1>

<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MarkaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkaAciklamasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkaLogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MarkaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarkaAciklamasi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aktif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarkaLogo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
